{% extends 'base.html.twig' %}

{% block body %}
<h1>Profile</h1>

    {% if app.user.verified %}
    {% else %}
        <a href="{{ path('app_send_verify_user_mail') }}"><b>Verify Mail</b></a>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

