{% extends 'base.html.twig' %}

{% block body %}
    <h2>Wishes List</h2>
    <section>
        {% for wish in wishes %}
            <article>
                <a href="{{ path('wish_show', {'id': wish.id}) }}">
                    <h3>=> {{ wish.title }} [{{ wish.category.name }}]</h3>
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block title %}
    {{ parent() }} List
{% endblock %}