<nav>
    <ul>
        <li>
            <a href="{{ path('main_home') }}">Accueil</a>
            |
            <a href="{{ path('main_home') }}">Test</a>
            |
            <a href="{{ path('main_home') }}">Contact</a>
        </li>
    </ul>
</nav>