<nav>
    <ul>
        <li>
            <a href="{{ path('main_home') }}">Accueil</a>
            |
            <a href="{{ path('wish_list') }}">WishList</a>
            |
            <a href="{{ path('main_aboutUs') }}">AboutUs</a>
        </li>
    </ul>
</nav>